<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="faq.component.css">

</head>

<body>

    <div class="template-demo">
        <a href="https://reg.src.ku.ac.th/res/" target="_blank">
            <img id="myImg" src="https://www.ku.ac.th/web-upload/filecenter/facility/bg_img4.jpg" width="1290px" />

        </a>
    </div>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <table>
                    <tr>
                        <th>กรณีบัตรนิสิตสูญหาย</th>

                    </tr>
                    <tr>

                        <td>
                            <font color=#ffffff>
                            <li>กรณีบัตรนิสิตสูญหาย ให้ติดตามดูกำหนดการทำบัตรใหม่จากฝ่ายการศึกษา (ปกติจะทำบัตรประมาณ 1
                                สัปดาห์ก่อนการสอบทั้งกลางภาคและปลายภาค)</li>
                            <li>หากเป็นเหตุการณ์จำเป็นที่ต้องทำบัตรใหม่ เช่น เพื่อใช้ในการสอบ (กลางภาค/ปลายภาค)
                                ให้ติดต่อเขียนคำร้องเพื่อขอทำ " ใบแทนบัตรนิสิต" ได้ที่ฝ่ายการศึกษา
                                โดยยื่นคำร้องพร้อมรูปถ่ายชุดนิสิต 1 ใบ และค่าธรรมเนียม 20 บาท</li>
                            </font>
                        </td>
                    </tr>
                    <tr>

                        <td>สิทธิและหน้าที่ของอาจารย์ที่ปรึกษา</td>
                    </tr>
                    <tr>

                        <td>
                            <font color=#ffffff>
                            <li>ให้คำแนะนำและทำแผนการเรียนของนิสิตร่วมกับนิสิต ให้ถูกต้องตามหลักสูตรที่กำหนดไว้</li>
                            <li>ให้คำแนะนำในเรื่องระเบียบข้อบังคับว่าด้วยการศึกษา</li>
                            <li>รับผิดชอบในการลงทะเบียนเรียน การเปลี่ยนรายวิชา การเพิ่มรายวิชา การงดเรียนบางรายวิชา
                                และจำนวนหน่วยกิตต่อภาคการศึกษาของนิสิต</li>
                            <li>แนะนำวิธีเรียน ให้คำปรึกษา และติดตามผลการเรียนของนิสิต</li>
                            <li>พิจารณาคำร้องต่าง ๆ ของนิสิต และดำเนินการให้ถูกต้องตามระเบียบ</li>
                            <li>ให้คำปรึกษาเกี่ยวกับความเป็นอยู่และการศึกษาของนิสิตในมหาวิทยาลัย</li>
                            <li>รับผิดชอบดูแลความประพฤติของนิสิต ให้เป็นไปตามระเบียบวินัยที่มหาวิทยาลัยกำหนดไว้
                                ในกรณีที่นิสิตกระทำผิดวินัย ให้อาจารย์ที่ปรึกษารายงานให้หัวหน้าภาควิชาและคณบดีทราบ
                                เพื่อพิจารณานำเสนอรองอธิการบดีฝ่ายนิสิตพิจารณาโทษทางวินัยต่อไป</li>
                            </font>
                        </td>
                    </tr>
                    
                </table>
            </div>

        </div>
    </div>

</body>

</html>