<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="#">🎓 การจัดการข้อมูลบัณฑิต</a></li>
                <li class="breadcrumb-item active" aria-current="page">📓 ปรับปรุงข้อมูล</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ข้อมูลทั่วไปของศิษย์เก่า
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="/images/avatar.jpg" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-5">
                        ชื่อ นามสกุล: ทดสอบ ทดสอบ<br />
                        หลักสูตรที่จบการศึกษา: เทคโนโลยีสารสนเทศ<br />
                        ปีที่จบการศึกษา: 2564
                    </div>
                    <div class="col-5">
                        รหัสนิสิต: 6111111<br />
                        GPA: 2.54<br />
                        อาจารย์ที่ปรึกษา: อ.บุญชู จิตนุพงศ์
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ข้อมูลสำหรับการติดต่อ
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">เบอร์โทรศัพท์</label>
                            <input type="tel" class="form-control" id="exampleFormControlInput1"
                                placeholder="021222222">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">ที่อยู่</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">อีเมล</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Line</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="testtesttest">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Facebook</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="www.facebook.com/test.test">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ข้อมูลการศึกษาต่อ
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-dark">เพิ่มการศึกษาต่อใหม่</button>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ระดับการศึกษา</th>
                                    <th scope="col">หลักสูตรที่จบการศึกษา</th>
                                    <th scope="col">สถานศึกษา</th>
                                    <th scope="col">ปีที่จบการศึกษา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    เพิ่ม / แก้ไขข้อมูล
                                </h5>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">ระดับการศึกษา</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1"
                                        class="form-label">หลักสูตรที่จบการศึกษา</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="testtesttest">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">สถานศึกษา</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">ปีที่จบการศึกษา</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-dark">บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ข้อมูลการทำงาน
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-dark">เพิ่มประสบการณ์การทำงาน</button>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ตำแหน่ง</th>
                                    <th scope="col">หน่วยงาน</th>
                                    <th scope="col">ระยะเวลาการทำงาน</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    เพิ่ม / แก้ไขข้อมูล
                                </h5>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">ตำแหน่ง</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">หน่วยงาน</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="testtesttest">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">ระยะเวลาการทำงาน</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="testtesttest">
                                </div>
                                <button type="button" class="btn btn-dark">บันทึกข้อมูล</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-lg btn-danger">Danger</button>
    </div>
</div>