<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="aboutus.component.css">

</head>

<body>

    <div class="template-demo">
        <a href="https://reg.src.ku.ac.th/res/" target="_blank">
            <img id = "myImg" src="https://www.ku.ac.th/web-upload/filecenter/facility/bg_img4.jpg" width="1290px" />

        </a>
    </div>
    
<div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6 grid-margin stretch-card">
                    <div align="center">
                    <img src="./assets/images/ku02.JPG" width="480px" />
                </div>
                
                </div>
                <p></p>  <p></p>  <p></p><font color=#9c9ca0>วิสัยยทัศน์</font>
                <li><font color=#9c9ca0>มหาวิทยาลัยเกษตรศาสตร์ สร้างสรรค์ศาสตร์แห่งแผ่นดินสู่สากล เพื่อพัฒนาประเทศอย่างยั่งยืน</font></li>
            </div>
            
        </div>
    </div>

</body>

</html>