<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="contactus.component.css">

</head>


<body>

    <div class="template-demo">
        <a href="https://reg.src.ku.ac.th/res/" target="_blank">
            <img id = "myImg" src="https://www.ku.ac.th/web-upload/filecenter/facility/bg_img4.jpg" width="1290px" />

        </a>
    </div>




    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row">
                <div class="column" style="background-color:#cad529;" align='center'>
                    <font color=#ffffff>คณะ</font>
                </div>
                <div class="column" style="background-color:#d3db5c;" align='center'>
                    <font color=#ffffff> <i class="fa fa-phone" aria-hidden="true"></i> หมายเลขโทรศัพท์ภายใน </font>
                </div>
                <div class="column" style="background-color:#cad529;" align='center'>
                    <font color=#ffffff> <i class="fa fa-phone" aria-hidden="true"></i> หมายเลขโทรศัพท์ภายนอก</font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0>วิทยาเขตศรีราชา</font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 66 6103 </font>
                </div>
                <div class="column" style="background-color:#f9f9fb;">
                    <font color=#9c9ca0></font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0>สำนักงานวิทยาเขตศรีราชา</font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0> 66 6103 </font>
                </div>
                <div class="column" style="background-color:#ffffff;"> 
                    <font color=#9c9ca0></font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0>หน่วยประสานงานวิทยาเขตศรีราชา (ชั้น 1 อาคารสารนิเทศ 50 ปี)</font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 64 4013 </font>
                </div>
                <div class="column" style="background-color:#f9f9fb;">
                    <font color=#9c9ca0></font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0>คณะวิทยาการจัดการ</font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0> 66 1200 </font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0> 0 3835 2828 </font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0>คณะวิศวกรรมศาสตร์ศรีราช</font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 66 2202 </font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 0 3835 4580-4 </font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0>คณะเศรษฐศาสตร์ ศรีราชา</font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0> 66 4302 </font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#9c9ca0> 0 3835 2902, 0 81781 0934 </font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0>คณะพาณิชยนาวีนานาชาติ</font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 66 5301 </font>
                </div>
                <div class="column" style="background-color:#f9f9fb;" align='center'>
                    <font color=#9c9ca0> 0 3835 4580 </font>
                </div>
            </div>

            <div class="row">
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#dd919a>ฉุกเฉิน</font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#dd919a> 66 6103, 66 2644-8, 64 4013 </font>
                </div>
                <div class="column" style="background-color:#ffffff;" align='center'>
                    <font color=#dd919a> 0 3835 4580 6, 0 2942 8878 </font>
                </div>
            </div>

        </div>
    </div>




    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">

                <div class="col-md-6 grid-margin stretch-card">

                    <div class="text-center">
                        <a href="https://www.facebook.com/KasetsartUniversity" target="_blank">
                            <div class="template-demo"> <button type="button"
                                    class="btn btn-social-icon btn-facebook btn-rounded"><i
                                        class="fa fa-facebook"></i></button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>



</html>